<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="updateInfo">
  <h3>{{updateInfo.statusInfo}}</h3>
  <h3>{{updateInfo.appData | json}}</h3>
</div>
<button (click)="checkUpate()">检查更新:{{version}}</button>
<button (click)="reload()">重新加载</button>
<h3>end-5-添加强制更新-获取到9-有更新延迟重新加载</h3>
<h3>1.0.9 关闭强制更新，捕捉更新过程。</h3>
<h3>1.0.10 进一步查看更新过程。</h3>
<h3>1.0.11 整理更新过程，添加过程跟踪。</h3>
<h3>1.0.12 查看上一版本的修改。</h3>
<h3>1.0.13 设置更新内容。</h3>
<h3>1.0.14 检查13版本效果。</h3>
<h3>1.0.15 检查13版本效果。</h3>
<h3>1.0.16 重新进行测试。</h3>
<h3>1.0.17 查看更新下过程。</h3>
<h3>1.0.18 获取更新不再等待10s。</h3>
<h3>1.0.19 手工发起更新。</h3>
<h3>1.0.20 没有更新是否可以捕捉到.</h3>
